$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #BDBDBD;

$headinngfont: 'Playfair Display', serif;
$textfont: 'Montserrat', sans-serif;

body{
    width: 70%;
    margin: 10px auto;
}
h1{
    font-size: 48px;
    font-family: $headinngfont;
    font-weight: 700;
}
#headerParagraph{
    font-family: $textfont;
    font-weight: 500;
    font-size: 14px;
    width: 590px;
    font-style: italic;
    color: $gray2;
    margin: 0px 12px;
}
.headerText{
    display: flex;
}
#main{
    width: 969px;
    margin-top: 27px;
}
#dots{
    height: 10px;
    margin-top: 5px;
}
h2{
    font-family: $headinngfont;
    font-weight: 700;
    font-size: 24px;
    color: $gray1;
    margin-top: 48px;
}
h3{
    font-family: $headinngfont;
    font-weight: 400;
    font-size: 18px;
    color: $gray1;
    font-style: italic;
    margin-top: 32px;
}
.labeltext{
    font-family: $textfont;
    font-weight: 400;
    color: $gray1;
    font-size: 16px;
    margin: 0px 0px 0px 17px;
    width: 528px;
    line-height: 24px;
    
}
.checktext{
    display: flex;
    vertical-align: top;
    margin-top: 14px;
}
.numbertext{
    display: flex;
    vertical-align: top;
    margin-top: 40px;
}
strong{
    font-weight: 700;
}
em{
    font-weight: 500;
}
.number{
    font-family: $headinngfont;
    font-weight: 700;
    font-size: 24px;
    width: 36px;
    height: 36px;
    background-color: #F2994A;
    border-radius: 6px;
    text-align: center;
    color: white;
    margin: 0px;
}
main{
    display: flex;
}
.sidebar{
    width: 190px;
    height: 367px;
    margin-left: 155px;
    margin-top: 48px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding-left: 43px ;
}
.row{
    display: flex;
}
#knife{
    width: 37px;
    height: 36px;
}
.time{
    width: 37px;
    height: 36px;
}
.row{
    margin-top: 43px;
}
.title{
    font-family: $textfont;
    font-weight: 500;
    font-size: 10px;
    color: $gray3;
    margin: 0px 14px;
}
.amount{
    font-family: $textfont;
    font-weight: 500;
    font-size: 14px;
    color: #f2994a;
    margin: 4px 14px;
}
.timeamount{
    font-family: $textfont;
    font-weight: 500;
    font-size: 14px;
    color: $gray1;
    margin: 4px 14px;
}
@media (max-width: 1387px){
    #main{
        width: 900px;
    }
    .sidebar{
        margin-left: 110px;
    }
}

@media (max-width: 1324px){
    body{
        width: 85%;
    }
}

@media (max-width: 1102px){
    body{
        width: 95%;
    }
}

@media (max-width: 420px){
    body{
        width: 95%;
    }
}






